{% load static %}
<html lang="en">
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'login_util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-90 p-b-30">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
