{% extends 'base_login.html' %}
{% load static %}
{% block content %}
<form class="login100-form validate-form" method="post" >
	{% csrf_token %}
	<div class="text-center p-t-15 p-b-30">
		<span class="txt1">
			Dinesh Raj
		</span>
		{% if error %}
			<h5 style="color:red;">{{error}}</h5>
		{% endif %}
	</div>
	<div class="wrap-input100 validate-input m-b-16">
		<input class="input100" type="text" name="username" placeholder="Username">
	</div>
	{% csrf_token %}
	<div class="wrap-input100 validate-input m-b-20">
		<input class="input100" type="password" name="password" placeholder="Password">
		<span class="focus-input100"></span>
	</div>

	<div class="container-login100-form-btn">
		<button class="login100-form-btn">
			Login
		</button>
	</div>
</form>
{% endblock %}
