{% extends 'base.html' %}
{% load static %}
{% block title %}
  NotePad
{% endblock %}
{% block content %}
<div>NotePad
  <div class="page-title-subheading">NotePad.</div>
</div>
<div class="page-title-actions">
	</div>
</div>
</div>
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
</ul>
<div class="tab-content">
	<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
		<div class="main-card mb-3 card">
			<div class="card-body">
				<h5 class="card-title">NotePad</h5>
        {% if messages %}
          {% for message in messages %}
			<div class="alert alert-info">
				{{ message }}
			</div>
          {% endfor %}
        {% endif %}
		<form method="post" enctype="multipart/form-data">
        <div class="form-row">
            {% csrf_token %}
						
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="examplePassword11" class="">NotePad</label>
                    <textarea name="notepad" required class="form-control" cols="30" rows="5"></textarea>
                </div>
            </div>
        </div>
		<button class="mt-2 btn btn-primary">Submit</button>
        </form>
        <br> <br>
        <form>
            <div class="form-row">
              <div class="col-md-3">
                <div class="position-relative form-group">
                  <label for="examplePassword11" class="">Filter Month Wise</label>
                  <input type="date" class="form-control" name="date">
                </div>
              </div>
              <div class="col-md-3"> <br>
                <button class="mt-2 btn btn-primary">Search</button>
              </div>
            </div>    
        </form>
          
        <div class="table-responsive">
            <table class="mb-0 table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Notes</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                        <tr>
                            <td>{{ note.date }}</td>
                            <td>{{ note.notes }}</td>
                            <td>
                                <a href="/dinesh/notepad-delete/{{note.id}}" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-danger">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
</div>
</div>
</div>
{% endblock %}
